:root {
  --dark: #111;
  --white: #fff;
  --gray: #737373;
  --gray-light: #cacacb;
  --stroke: #ebebeb;
}

:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
