.collection .wrapper {
  padding: 80px 40px 72px;
  margin: 0 auto;
}

.collection__header {
  font-family: var(--font-family);
  font-size: 30px;
  text-align: center;
  color: var(--dark);
}

.swiper-wrapper.collection__cards {
  margin-top: 48px;
}

.collection__swiper {
  padding-bottom: 8px;
}

.collection__card {
  height: 384px;
  width: 312px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.collection__card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.collection__card-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.collection__card-name {
  margin-top: 16px;
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--dark);
}

.collection__card-price {
  margin-top: 8px;
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--gray);
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: none;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none;
}
